<div class="row mx-4 mt-4">
    <div class="col-lg-12 bg-light">
        <h2 class="my-4">{{userLoged.nombre}} {{userLoged.apellidos}}</h2>
        <div class="row bg-dark">
            <div class="col-lg-5 my-3">
                <div class="icono-cliente rounded-2">
                    <span class="d-flex align-items-center justify-content-center pt-2">
                        <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                        </svg>
                    </span>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-8 col-md-6 col-sm-6 col-6">
                        <p class="text-white">Edad</p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <p class="text-white text-end">{{calcularEdad(userLoged.fecha_nacimiento)}} años</p>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col-lg-8 col-md-6 col-sm-6  col-6">
                        <label class="text-white" for="fecha">Fecha de nacimiento</label>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <input type="email" class="form-control bg-light text-end" id="fecha" name="fecha" [(ngModel)]="fecha_nacimiento">
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col-lg-8 col-md-6 col-sm-6 col-6">
                        <label class="text-white" for="genero">Genero</label>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <select [(ngModel)]="genero" class="form-select bg-light" aria-label="Default select example" id="genero">
                                <option value="{{userLoged.genero}}" selected>
                                    <span *ngIf="userLoged.genero === 'MAS'">Masculino (Actual)</span>
                                    <span *ngIf="userLoged.genero === 'FEM'">Femenino (Actual)</span>
                                    <span *ngIf="userLoged.genero === 'OTR'">Otro (Actual)</span>
                                </option>
                                <option value="MAS">Masculino </option>
                                <option value="FEM">Femenino </option>
                                <option value="OTR">Otro </option>
                        </select>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col-lg-8 col-md-6 col-sm-6 col-6">
                        <label class="text-white" for="peso">Peso (kg)</label>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <input type="email" class="form-control bg-light text-end" id="peso" name="peso" value="{{userLoged.peso}}" [(ngModel)]="peso">
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col-lg-8 col-md-6 col-sm-6 col-6">
                        <label class="text-white" for="altura">Altura (cm)</label>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <input type="email" class="form-control bg-light text-end" id="altura" name="altura" value="{{userLoged.altura}}" [(ngModel)]="altura">
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col-lg-8 col-md-6 col-sm-6 col-6">
                        <label class="text-white" for="deporte">Deporte principal</label>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <select [(ngModel)]="deporte_principal" class="form-select bg-light " aria-label="Default select example" id="deporte">
                                <option value="{{userLoged.deporte_principal}}">{{userLoged.deporte_principal}} (Actual)</option>
                                <ng-container *ngFor="let deporte of listaDeportes">
                                    <option value="{{deporte.id_deporte}}">{{deporte.nombre}}</option>
                                </ng-container>
                        </select>
                    </div>
                </div>
                
                
            </div>
            <div class="col-lg-7 mt-3">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <label class="text-white fs-3" for="objetivos">Objetivos</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                        <textarea class="form-control bg-light" id="objetivos" [(ngModel)]="objetivos">{{userLoged.objetivos}}</textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <label class="text-white fs-3" for="horarioentreno">Preferencia horaria entrenamientos</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                        <textarea class="form-control bg-light" id="horarioentreno" [(ngModel)]="horario_entrenamientos">{{userLoged.horario_entrenamiento}}</textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <label class="text-white fs-3" for="horariocomidas">Horario de comidas</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                        <textarea class="form-control bg-light" id="horariocomidas" [(ngModel)]="horario_comidas">{{userLoged.horario_comidas}}</textarea>
                    </div>
                </div>
                
            </div>
            <div class="row my-3">
                <div class="col-lg-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-success" (click)="guardar()">Guardar</button>
                </div>
            </div>
            
        </div>

    </div>
</div>