<section class="vh-100 gradient-custom">
    <div class="container py-5 ">
        <div class="row bg-dark text-white box-login rounded-2 borde p-5">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2 text-center">
                <h2 class="fw-bold mb-2">Regístrate</h2>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center">
                        <label class="text-white" for="Username">USERNAME</label>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-2">
                        <input type="text" class="form-control bg-light" id="Username">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center">
                        <label class="text-white" for="password">PASSWORD</label>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-2">
                        <input type="password" class="form-control bg-light" id="password" >
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center">
                        <label class="text-white" for="nombre">NOMBRE</label>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-2">
                        <input type="text" class="form-control bg-light" id="nombre" >
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center">
                        <label class="text-white" for="apellidos">APELLIDOS</label>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-2">
                        <input type="text" class="form-control bg-light" id="apellidos" >
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center">
                        <label class="text-white" for="rol">ROL</label>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-2">
                        <input type="text" class="form-control bg-light" id="rol" >
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center">
                        <label class="text-white" for="email">EMAIL</label>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-2">
                        <input type="email" class="form-control bg-light" id="email" >
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center">
                        <label class="text-white" for="fecha_nacimiento">FECHA DE NACIMIENTO</label>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-2">
                        <input type="text" class="form-control bg-light" id="fecha_nacimiento" >
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center">
                        <label class="text-white" for="genero">GENERO</label>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-2">
                        <input type="text" class="form-control bg-light" id="genero" >
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center">
                        <label class="text-white" for="peso">PESO</label>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-2">
                        <input type="text" class="form-control bg-light" id="peso" >
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center">
                        <label class="text-white" for="altura">ALTURA</label>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-2">
                        <input type="text" class="form-control bg-light" id="altura" >
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center">
                        <label class="text-white" for="deporte_principal">DEPORTE PRINCIPAL</label>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-2">
                        <input type="text" class="form-control bg-light" id="deporte_principal" >
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>