<div class="row mx-4 my-4">
    <div class="col-lg-12 bg-light mb-4">
        <h2 class="my-4">ENTRENAMIENTO</h2>
        <div *ngIf="successAlert" class="row bg-success mb-3 rounded-2 ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <p class="mb-0 px-3 py-2">Actualizado correctamente</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-flex justify-content-end align-items-center">
                <button class="btn btn-ouline-success btn-cerrar" (click)="successAlert = false">X</button>
            </div>
        </div>
        <div *ngIf="errorAlert" class="row bg-danger mb-3 rounded-2 ">
            <div class="col-lg-11 col-md-11 col-sm-11 col-11">
                <p class="mb-0 px-3 py-2 text-white">Errores</p>
                    <ul class="ms-3">
                        <li class="text-white" *ngFor="let error of erroresNoVacios">{{error}}</li>
                    </ul>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 d-flex justify-content-end align-items-center">
                <button class="btn btn-sm btn-ouline-danger btn-cerrar" (click)="errorAlert = false">X</button>
            </div>
        </div>
        <div class="row bg-dark mb-3 rounded-2">
            <div class="col-lg-6 my-3">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <label class="text-white" for="fecha">Fecha</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                        <input type="email" class="form-control bg-light" id="fecha" [(ngModel)]="fecha">
                    </div>
                </div>
                
                <div class="row mt-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <label class="text-white" for="deporte">Selecciona un deporte</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                        <select class="form-select bg-light" aria-label="Default select example" id="deporte" [(ngModel)]="deporte">
                            <ng-container *ngFor="let deporte of listaDeportes">
                            <option value="{{deporte.id_deporte}}">{{deporte.nombre}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <label class="text-white" for="duracion">Duración</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                        <select class="form-select bg-light" aria-label="Default select example" id="duracion" [(ngModel)]="duracion">
                            <ng-container *ngFor="let tiempo of listaTiempos">
                                <option value="{{tiempo}}">{{tiempo}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <label class="text-white" for="distancia">Distancia (metros)</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                        <input type="email" class="form-control bg-light" id="distancia" [(ngModel)]="distancia">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <label class="text-white" for="ritmo">Ritmo medio (min/km)</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                        <input type="email" class="form-control bg-light" id="ritmo" [(ngModel)]="ritmoMedio">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <label class="text-white" for="fc">FC Media</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                        <input type="email" class="form-control bg-light" id="fc" [(ngModel)]="fcMedia">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-3">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <label class="text-white" for="objetivos">Descripción</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                        <textarea class="form-control bg-light" id="objetivos" [(ngModel)]="descripcion"></textarea>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-success" (click)="guardar()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>