<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 d-flex align-items-center">
      <button class="btn btn-dark btn-sm mx-1" (click)="goToPreviousMonth()"><i class="fa fa-lg fa-arrow-left"></i></button>
      <span class="m-4 fs-5 month-year">{{get_Month()}} {{get_Year()}}</span>
      
      <button class="btn btn-dark btn-sm mx-1" (click)="goToNextMonth()"><i class="fa fa-lg fa-arrow-right"></i></button>
      <button class="btn btn-dark btn-sm mx-1" (click)="goToToday()">Today</button>
    </div>
  </div>
