<div class="row mx-4 mt-4">
    <div class="col-lg-6 col-md-6 bg-light">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-6 col-6 my-4">
                <h2>Actividades {{day}}-{{formattedMonth}}-{{year}}</h2>
            </div>
            <div *ngIf="addVisible" class="col-lg-4 col-md-6 col-sm-6 col-6 my-4 d-flex justify-content-end">
                <button *ngIf="userLoged.rol == 'TRA' || userLoged.rol == 'ATH'" class="btn btn-dark btn-sm" (click)="goToFormEnterno()">Añadir actividad</button>
            </div>
        </div>


        <div *ngFor="let entreno of listaEntrenosHoy"
            class="row bg-dark d-flex align-items-center justify-content-center rounded-2 mt-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 my-4 ps-4">
                <ng-container *ngFor="let deporte of listaDeportes">
                    <ng-container *ngIf="deporte.id_deporte == entreno.id_deporte">
                        <button class="btn btn-info btn-lg rounded-1 stop-boton">{{deporte.nombre}}</button>
                    </ng-container>
                </ng-container>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 my-4 pe-4 d-flex justify-content-end">
                <button *ngIf="userLoged.rol == 'TRA' || userLoged.rol == 'ATH'" class="btn btn-warning "
                    type="button" (click)="goToFormActividadModificar(entreno.id)">modificar</button>
            </div>
            <div class="row row-datos-entreno">
                <div class="col-lg-6 mb-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <p class="text-white">Duración</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <p class="text-white text-end">{{entreno.duracion}}</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <p class="text-white">Distancia</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <p class="text-white text-end">{{entreno.distancia}} m</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <p class="text-white">Ritmo Medio</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <p class="text-white text-end">{{entreno.ritmo_medio}} min/km</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <p class="text-white">FC Media</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <p class="text-white text-end">{{entreno.fc_media}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-3">
                    <div class="row">
                        <div class="col-lg-3">
                            <p class="text-white">Descripción</p>
                        </div>
                        <div class="col-lg-12">
                            <p class="text-white">{{entreno.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-6 col-md-6 bg-light">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-6 col-6 my-4">
                <h2>Nutrición {{day}}-{{formattedMonth}}-{{year}}</h2>
            </div>
            <div *ngIf="addVisible" class="col-lg-4 col-md-6 col-sm-6 col-6 my-4 d-flex justify-content-end">
                <button *ngIf="userLoged.rol == 'NUT' || userLoged.rol == 'ATH'" class="btn btn-dark btn-sm" (click)="goToFormDieta()">Añadir dieta</button>
            </div>
        </div>
        <div *ngFor="let hora of listaNutrisHoy"
            class="row bg-dark d-flex align-items-center justify-content-center rounded-2 mt-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 my-4 ps-4">
                <button class="btn btn-info btn-lg rounded-1 stop-boton" type="button">{{hora.hora}}</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 my-4 pe-4 d-flex justify-content-end">
                <button *ngIf="userLoged.rol == 'NUT' || userLoged.rol == 'ATH'" class="btn btn-warning "
                    type="button" (click)="goToFormDietaModificar(hora.id)" >Modificar</button>
            </div>
            <div class="row row-datos-entreno">
                <div class="col-lg-6 mb-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <p class="text-white">Kcal</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <p class="text-white text-end">{{hora.kcal}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="text-white">Descripción</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="text-white ">{{hora.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>