<div class="mx-4">
    <app-menu-calendar (mes)="setMes($event)" (year)="setYear($event)"
        (dateChanged)="onDateChanged($event)"></app-menu-calendar>
    <div class="row h-100 prueba">
        <div class="col-lg-12">
            <div class="row">
                <div class="calendar-days">
                    <div class="calendar-header d-flex">
                        <ng-container *ngFor="let dayName of daysOfWeek; let i=index">
                            <div class="text-white bg-dark calendar-cell calendar-day text-center">{{dayName}}</div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="calendar-body h-100">
                    <ng-container *ngFor="let week of weeks; let i=index">
                        <div *ngIf='!(i == 0 && offset == 0)' class="calendar-row"
                            [ngStyle]="{'max-width': i === 1 && firstDayOfWeek === 6 ? 'calc(100% - 14.28%)' : '100%', 'display': 'flex'}">
                            <!-- <ng-container *ngIf="i === 0">
                                <ng-container *ngFor="let day of emptyDays">
                                    <div class="card border-dark calendar-cell calendar-cell-empty">
                                        <div class="calendar-day-number">{{day}}</div>
                                    </div>
                                </ng-container>
                            </ng-container> -->

                            <!-- AQUI -->
                            <ng-container *ngFor="let day of week">
                                <div class="border-days calendar-cell" [ngClass]="{'calendar-cell-empty': day === null, 
                                'old-days': this.formatDateNow(dateNow) > this.formatDate(day,mes,year),
                                'today': this.formatDateNow(dateNow) == this.formatDate(day,mes,year)}" 
                                (click)="goToDay(day)">
                                    <div class="calendar-day-number rounded-3 px-2 bg-calendar-days text-center">
                                        <p class="text-white fw-bold">{{day}}</p>
                                    </div>
                                    <div *ngIf="day !== null" class="d-flex align-items-around">
                                        <button class="btn btn-sm btn-info mx-1 stop-boton" *ngIf="!getEntreno(day)">
                                            Entrenos
                                        </button>
                                        <button class="btn btn-sm btn-success mx-1 stop-boton" *ngIf="!getNutricion(day)">Nutrición</button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-2 bg-light">
            <p> contenido secundario</p>
        </div> -->
    </div>
</div>