<app-home-athlete *ngIf="userLoged.rol === 'ATH' && userInfoActive === false" 
                    [userLoged]="userLoged">
</app-home-athlete>

<app-home-coach *ngIf="userLoged.rol === 'TRA' && userInfoActive === false" 
                (userInfoActiveEmitter)="setUserInfoActive($event)" 
                (userInfoEmitter)="setUserInfo($event)" 
                [userLoged]="userLoged">
</app-home-coach>

<app-home-nutritionist *ngIf="userLoged.rol === 'NUT' && userInfoActive === false"
                (userInfoActiveEmitter)="setUserInfoActive($event)"
                (userInfoEmitter)="setUserInfo($event)"
                [userLoged]="userLoged">
</app-home-nutritionist>

<app-user-info *ngIf="userInfoActive === true"
                [userInfo]="userInfo">
</app-user-info>
