p, label{
    font-weight: 700;
    font-size: larger;
}

.icono-cliente{
    width: 25vh;
    height: 25vh;
    background-color: #6F6F6F;
}

path {
    fill: white;
}

.svg-icono {
    width: 60%;
}

textarea{
    height: 23.5vh;
}

.btn-cerrar{
    width: min-content;
}

.fadeIn{
    animation: fadeIn 1s ease forwards;
}

.bg-warning{
background-color: rgba(244,124,60, 0.7) !important;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      max-height: 0px;
    }
    100% {
      opacity: 1;
      max-height: 50vh;
    }
  }