.bg-home-today {
    background-color: rgb(211, 211, 211);
}

.bg-home-today {
    background-color: rgb(211, 211, 211);
}

p{
    font-weight: 700;
    font-size: larger;
}

.icono-cliente{
    width: 10vh;
    height: 10vh;
    background-color: #6F6F6F;
}

path {
    fill: white;
}

.svg-icono {
    width: 60%;
}
.fadeIn{
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      max-height: 0px;
    }
    100% {
      opacity: 1;
      max-height: 50vh;
    }
  }

@media (max-width: 500px) {
    .margin-movil {
      margin-bottom: 3vh !important;
    }

  }