<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
    <a class="navbar-brand fs-3">BPRO</a>
    </div>
    <div class="d-flex justify-content-center">
      <ul class="navbar-nav mx-auto ms-3">
        <li class="nav-item">
          <a class="nav-link fs-5 text-center" href=""><span><i class="fa fa-lg fa-calendar"></i></span></a>
        </li>
      </ul>   
    </div>
    <div>
      <ul class="navbar-nav ms-3">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5" data-bs-toggle="dropdown" href="login" role="button"
            aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-lg fa-user"></i></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="login">Logout</a>
          </div>
        </li>
      </ul>
    </div>    
  </div>
</nav>

<router-outlet></router-outlet>
