<div class="row bg-dark tamano-menu d-flex align-items-center px-4 py-3">
  <div class="col-lg-2 col-md-6 col-sm-6 col-6">
    <h1 class="fs-2"><a class="text-decoration-none text-dark text-white curs" (click)="home()">BTOP</a></h1>
  </div>
  <div class="col-lg-10 col-md-6 col-sm-6 col-6 d-flex justify-content-end align-items-center">
    <!-- <p class="text-white fs-4 me-3">CALENDAR</p> -->
    <ul class="navbar-nav" *ngIf="showMenu">
      <div class="user-box">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5" data-bs-toggle="dropdown" href="login" role="button"
            aria-haspopup="true" aria-expanded="false"><span class="d-flex justify-content-center align-items-end"><svg
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
              </svg></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="contactos()">Contactos</a>
            <a class="dropdown-item" (click)="settings()">Settings</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </div>
    </ul>

  </div>
</div>
<router-outlet></router-outlet>