.dropdown-menu {
    right: 0;
    left: auto;
}

.tamano-menu {
    width: 100%;
    height: auto;
}

h1 {
    margin-bottom: 0px;
}

p{
    margin-bottom: 0px;
}

path {
    fill: white;
}

svg {
    width: 60%;
}

.user-box{
    width: 5vh;
    height: 5vh;
    background-color: #6F6F6F;
    border: 1px solid white;
}

.user-box .dropdown-toggle::after {
    display: none;
  }

  .curs {
    cursor: pointer !important;
  }
  