<div class="row mx-4 mt-4">
    <div class="col-lg-12 bg-light">
        <h2 class="my-4">{{userInfo.nombre}}</h2>
        <div class="row bg-dark">
            <div class="col-lg-5 my-3">
                <div class="icono-cliente rounded-2">
                    <span class="d-flex align-items-center justify-content-center pt-2">
                        <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                        </svg>
                    </span>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <p class="text-white">Edad</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <p class="text-white text-end">{{calcularEdad(userInfo.fecha_nacimiento)}} años</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6  col-6">
                        <p class="text-white">Fecha de nacimiento</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <p class="text-white text-end">{{userInfo.fecha_nacimiento}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <p class="text-white">Genero</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <p class="text-white text-end">{{userInfo.Genero}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <p class="text-white">Peso</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <p class="text-white text-end">{{userInfo.peso}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <p class="text-white">Altura</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <p class="text-white text-end">{{userInfo.altura}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <p class="text-white">Deporte principal</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <p class="text-white text-end">{{userInfo.deporte_principal}}</p>
                    </div>
                </div>
                
                
            </div>
            <div class="col-lg-7 mt-3">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <label class="text-white" for="objetivos">Objetivos</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                        <textarea class="form-control bg-light" id="objetivos"></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <label class="text-white" for="horarioentreno">Preferencia horaria entrenamientos</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                        <textarea class="form-control bg-light" id="horarioentreno"></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <label class="text-white" for="horariocomidas">Horario de comidas</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                        <textarea class="form-control bg-light" id="horariocomidas"></textarea>
                    </div>
                </div>
                
            </div>
            <div class="row my-3">
                <div class="col-lg-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-success">Guardar</button>
                </div>
            </div>
            
        </div>

    </div>
</div>